.logo-container {
    z-index: 0;
    position: initial;
    width: 27%;
    height: auto;
    margin: auto;
    opacity: 0;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo {
        z-index: 1;
        position: absolute;
        width: 27%;
        opacity: 0;
        transform: rotateZ(30deg);
    }

    .svg-container {
        stroke: #ff0000;
        stroke-width: 10px;
    }
}

@media screen and (max-width: 480px) {
    .logo-container {
        width: 200px;

        .solid-logo {
            width: 200px;
            transform: rotateZ(0deg);
        }

        svg {
            transform: rotateZ(0deg) !important;
        }
    }
}
