.paper {
    width: 100px;
    height: 100px;
    position: absolute;
}

.top-tags {
    top: 35px;
    bottom: auto;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-family: "La Be Aurore";
    font-size: 20px;
}

.bottom-tags {
    bottom: 35px;
    top: auto;
}

.bottom-tag-html {
    margin-left: -20px;
}

.container {
    width: 100%;
    will-change: contents; // check how this works
    height: 90%;
    min-height: 556px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d; // check how this works
    animation: fadeIn 1s forwards; // check how this works
    animation-delay: 1s; // check how this works
}
