
html{
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 300 11/1.4 'Helvetica Neue','sans-serif';  /* format: font-weight font-size/line-height font-name */
  color: #444;
  background-color: #022c43;
  display: block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

